<label>Username: </label>
<input type="text" name="user-name" id="username"/><br>
{{yield}}
<label>Password: </label>
 <input type="password" name="password" id="password"/>
 <span id="passwordErrorMessage" style="display:none;color:red;height:1px">invalid password</span><br><br>

<input type="checkbox" id="showpassword" name="showpassword" {{on "click" this.showPassword}} >
<label for="show_password">Show Password</label><br>
<br>